@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .process-section {
    @apply bg-stone-950;
    background-image: url(/src/assets/bg-process-section.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    text-align: center;
    filter: brightness(110%);
  }
}
